<mat-card>
  <mat-card-header>
      <mat-card-title>Application Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #fm (ngSubmit)="onSubmit(fm)" >
    <table>
      <tr>
        <td>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
            <input matInput name="fname"  type="text"
          placeholder="userName"
            [(ngModel)]="person.userName"/>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Employee Code</mat-label>
                <input matInput name="empCode"  type="text" [(ngModel)]="person.empCode"/>
      </mat-form-field>
    </td>
    </tr>
    <tr>
        <td>
          <mat-form-field>
            <span >Mobile No of employtee</span>
                <input matInput name="contactNo" type="text" [(ngModel)]="person.contact"/>
          </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <span>City:</span>
                  <input matInput type="text" />
            </mat-form-field>
          </td>
        </tr>

        </table>
      </form>
  </mat-card-content>
  <mat-card-footer>
    <button  color="accent" mat-raised-button type="submit" (click)="onSubmit(fm)">Save</button>
  </mat-card-footer>
</mat-card>
<mat-card class="user-table-card">
   <mat-card-header>
      <mat-card-title>
          User Details
        <button mat-icon-button (click)="getData()" >
              <mat-icon >refresh</mat-icon>
          </button>
          <button mat-raised-button (click)="updateData()">Save</button>
        </mat-card-title>

  </mat-card-header>
  <mat-card-content >
    <table color="warn" id="pagination-table"
    mat-table [trackBy]="myTrackId"
    [dataSource]="dataSource" class="user-table mat-elevation-z8"
    matSort matSortActive="userName" matSortDirection="asc"
    (matSortChange)="sortData($event)"
    >
        <ng-container matColumnDef="isEdited">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [(ngModel)]="element.isEdited" value="false" color="primary"></mat-checkbox>
            </td>
          </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="userName">FirstName</th>
        <td mat-cell *matCellDef="let element">
            <input matInput type="text" [value]="element.userName"
            [(ngModel)]="element.userName"
            (change)="changedData(element)"/>

        </td>
      </ng-container>
      <ng-container matColumnDef="empCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="empCode">Employee Code</th>
          <td mat-cell *matCellDef="let element">
            <input matInput type="text" [value]="element.empCode"
            [(ngModel)]="element.empCode"
            (change)="changedData(element)"/>
          </td>
        </ng-container>

        <ng-container matColumnDef="contactNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="contactNo">Contact No</th>
            <td mat-cell *matCellDef="let element">{{element.contactNo}}</td>
          </ng-container>
          <ng-container matColumnDef="userEmailId">
              <th mat-header-cell *matHeaderCellDef>Email ID</th>
              <td mat-cell *matCellDef="let element">{{element.userEmailId}}</td>
            </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="0"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>
